.container-alert-background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.566);
}

.container-alert{
  position: fixed;
  width: 800px;
  top: 45vh;
  left: calc(50% - 400px);
  padding: 10px;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 25px;
  background-color: rgba(0, 6, 10, 0.661);
  color: white;
}
.container-alert p{
  margin: 15px;
  color: white;
}
.container-alert a{
  margin: 20px;
  padding: 5px;
  background-color: brown;
  border-radius: 5px;
  color: white;
}
